---
const { 
  url = "",
  imgUrl,
  alt,
  text,
  isLink = true,
  target = "_self"
} = Astro.props;
---

{isLink ? (
  <a 
    href={url} 
    target={target} 
    class="detalle"
  >
    <div class="flex mb-6 hover:scale-102 transition-all duration-150 ease-in">
      <img src={imgUrl} alt={alt} class="invert w-1/10 sm:w-1/7 mr-5" />
      <div class="w-2/3 text-left flex items-center">
        {text}
      </div>
    </div>
  </a>
) : (
  <div class="flex p-x hover:scale-102 transition-all duration-150 ease-in">
    <img src={imgUrl} alt={alt} class="invert w-1/10 sm:w-1/7 h-1/7 mr-5" />
    <div class="w-2/3 text-left flex items-center">
      {text}
    </div>
  </div>
)}