---
const { 
  url = "",
  imgUrl,
  alt,
  text,
  isLink = true,
  target = "_self"
} = Astro.props;
---

{isLink ? (
  <a 
    href={url} 
    target={target} 
  >
<div class="contactAnchor gradientBackgroundBlue flex hover:scale-102 p-2 transition-all duration-150 ease-in rounded-md bg-neutral-900 hover:lighted">
      <div class=" w-1/10 sm:w-1/7 mr-5">
        <img src={imgUrl} alt={alt} class="invert w-2/3 m-auto" />
      </div>
      
      <div class="w-9/10 text-left flex items-center ">{text}</div>

    </div>
  </a>
) : (
  <div class="gradientBackgroundBlue  contactAnchor flex p-2 hover:scale-102 transition-all duration-150 ease-in  rounded-md bg-neutral-900 ">
    <div class=" w-1/10 sm:w-1/7 mr-5">
      <img src={imgUrl} alt={alt} class="invert w-2/3 m-auto" />
    </div>

    <div class="w-9/10 text-left flex items-center">{text}</div>
  </div>
)}