---
import ExperiencieProject from "./Molecules/Experiencie-project.astro";
import { getCollection } from "astro:content";
import {ExperienceProjectMobile} from "./Molecules/Experience-project-mobile.tsx";

const experiences = await getCollection("experiences");

const experiencesWithContent = await Promise.all(
  experiences.map(async (experience) => {
    const { data, render } = experience;
    const { Content } = await render();


    return {
      ...data,
      Content,

    };
  })
);
---
{
  <div class="sm:w-2/3 w-85  m-auto mb-32">
    <h2 class="text-5xl pb-15">Experiencia Laboral</h2>
    
    <div class="">
      {experiencesWithContent.map((experience) => (
        <ExperiencieProject {...experience} />
      ))}
    </div>
    
    {/* <div class="flex sm:hidden">
      
      {experiencesWithContent.map((experience, index) => (
        <ExperienceProjectMobile 
          client:visible
          url={experience.url}
          imageUrl={experience.imageUrl}
          alt={experience.alt}
          title={experience.title}
          techs={experience.techs}
          Content={experience.Content}
        />
      ))}
    </div> */}
  </div>
  
}
