---
const { url, imageUrl, alt, title, techs, Content } = Astro.props;

interface Tech {
  alt: string;
  iconUrl: string;
}
---

<aside
  id="individual-experience"
  class="mb-20 p-6 grid grid-cols-1 sm:grid-cols-2 border-1 bg-neutral-900 border-zinc-800 rounded-2xl grid-rows-[auto_auto] gap-5 sm:gap-0 sm:grid-cols-[1fr_1fr] sm:grid-rows-[1fr]"
>
  <div >
    <a
      href={url}
      target="_blank"
      class="w-full row-span-1 self-center m-auto sm:m-0"
    >

        <img
          src={imageUrl}
          alt={alt}
          class="rounded hover:scale-102 sm:w-4/5 m-auto mt-2 transition-all duration-200 ease-in"
        />

    </a>
  </div>
  <div>
    <div class="mx-auto px-5 h-full flex flex-col justify-around">
      <h3 class="text-3xl 2xl:text-4xl font-semibold mb-4">{title}</h3>
      <div class="text-left 2xl:text-xl">
        <Content />
      </div>
      <div class="mt-6 flex justify-around h-auto col-span-1 sm:col-start-2">
        {
          techs.map((tech: Tech) => {
            const { alt, iconUrl } = tech;
            return <img src={iconUrl} alt={alt} class="h-8 2xl:h-12 w-auto" />;
          })
        }
      </div>
    </div>

  </div>
</aside>
